html, body {
    height: 100%;
}
ul, ol, li {
    list-style: none;
}
ul {
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    color: #fff;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex: 1 1 auto;
}
.container {
    max-width: 990px;
    margin: 0px auto;
    padding: 0px 15px;
}
/* PC */
@media (max-width: 990px){
    .container {
        max-width: 970px;
    }
}
/* tablet */
@media (max-width: 991.98px){
    .container {
        max-width: 750px;
    }
}
/* phone */
@media (max-width: 767.98px){
    .container {
        max-width: none;
    }
}
.header {
    /* background: linear-gradient(45deg, rgb(9, 5, 47), rgb(49, 29, 94)); */
    background-image:
    linear-gradient(0deg, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)),
    url(/image/forest_view.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.header__container {
    display: flex;
    min-height: 80px;
    align-items: center;
}
.header__logo {
    display: flex;
}
.logo__text {
    margin: 0px 0px 0px 11px;
    align-self: center;
    font-size: 30px;
    font-weight: 200;
    background-image: linear-gradient(0deg, rgb(0, 224, 208), rgb(74, 163, 204));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header__menu {
    flex: 1 1 auto;
}
.menu {
    display: flex;
    justify-content: flex-end;
}
.menu__list {
    display: flex;
    gap: 28px;
}

.menu__item {
}
.menu__link {
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}
.menu__list span {
    color: #00e0d0;
}
@media (max-width: 991.98px){
    .menu__list {
        gap: 20px;
    }
}
.header__main {
    margin: 0px auto;
    padding: 100px 0px 50px 0px;
    box-sizing: border-box;
    width: 780px;
    min-height: 590px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.header__title {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 32px;
    width: 100%;
    line-height: 1.2;
    padding-bottom: 29px;
    position: relative;
}
.header__title::after {
    content: '';
    display: block;
    background-color: #00e0d0;
    height: 1px;
    width: 50px;
    position: absolute;
    bottom: 0;
    right: calc(50% - 28px);
}
.header__text {
    padding: 29px 0px 53px 0px;
    width: 780px;
}
.text {
    font-weight: 200;
    line-height: 1.714;
    /* letter-spacing: 0.7px; */
    letter-spacing: .05em;
}
.header__button {
    display: flex;
    /* width: 120px;
    height: 40px; */

}
.button {
    font-size: 16px;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    color: #00e0d0;
    line-height: 1.2;
    text-align: center;
    padding: 11px 13.4px 7.8px 14px ;
    border: 1px solid #00e0d0;
    border-radius: 2px;
}
.header__dotnav {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-end;
}
.dotnav__list {
    display: flex;
    gap: 5px;
}
.dotnav__item {
    border-radius: 50%;
    border: 1px solid rgb(194, 194, 194);
    width: 10px;
    height: 10px;
}
.dotnav__list :first-child {
    background-color: #00e0d0;
}





